.category-item {
  margin-bottom: 15px;

  &.collapsed .list-group-item + .list-group-item {
    display: none;
  }
}

.answer-item {
  border: 1px solid lightgray;
}

.question-item {
  padding: 0.5rem 0 0;

  &:nth-child(odd) {
    background: #dee9ef;
  }
  &:nth-child(even) {
    background: #f0f5f8;
  }

  & > .row {
    margin: 0;
  }
}


.bottom-separator {
  margin-bottom: 0.5rem;

  &:after {
    content: '';
    width: calc(100% - 30px);
    height: 1px;
    background: #ced4da;
    position: absolute;
    bottom: 0;
  }
}

.margin10px {
  margin-top: 10px;
  margin-bottom: 10px;
}
