<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Kto?</th>
    <th scope="col">utworzono</th>
    <th scope="col">modyfikowano</th>
    <th scope="col">zarządzaj</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let person of references" >
    <th scope="row" >{{person.name}}</th>
    <td [title]="[person.creation | amDateFormat: 'LLL']">{{person.creation | amDateFormat: 'll'}}</td>
    <td [title]="[person.modification | amDateFormat: 'LLL']">{{person.modification | amDateFormat: 'll'}}</td>
    <td class="d-flex justify-content-between">
      <button class="btn btn-outline-dark btn-sm" [routerLink]="['/basic-interview', person.id]">modyfikuj</button>
      <button class="btn btn-outline-dark btn-sm" [routerLink]="['/basic-interview-preview', person.id]">podgląd</button>
      <button class="btn btn-outline-dark btn-sm" id="person.creation" (click)="onConfirm($event, person.id)" [hidden]="confirmationBtnsSummary[person.id]">usuń</button>
      <button class="btn btn-outline-danger btn-sm" (click)="onDelete(person.id)" [hidden]="!confirmationBtnsSummary[person.id]">usuń</button>
      <button class="btn btn-outline-info btn-sm" (click)="onConfirm($event, person.id)" [hidden]="!confirmationBtnsSummary[person.id]">anuluj</button>
    </td>
  </tr>
  </tbody>
</table>
