
  <form [formGroup]="form">
    <div class="row" >
      <div class="col">
        <p class="list-group-item  active border-0 list-dark bg-dark">
          Wprowadź nazwisko i imię:
        </p>
        <input

          class="form-control float-right" placeholder="Nazwisko Imię" formControlName="name" (keydown.enter)="onEnter()"
          >
      </div>
    </div>
  </form>
 <br>
      <button class="btn btn-dark" [routerLink]="['/basic-interview', id]"  (click)="addToReference()" [disabled]="disabled" >Przejdź do formularza</button>



