/* You can add global styles to this file, and also import other style files */

:root {
  font-size: 16px;
}

input.form-control::placeholder {
  color: darkgrey;
}

textarea.form-control {
  min-height: 40px;
  &::placeholder {
    color: darkgrey;

  }
}

.footer {
  position: fixed;
  bottom: 0;

  height: 50px;
  line-height: 50px;
  background-color: #343a40;
  z-index: 2;
  left: 0;
  right: 0;
  box-shadow: 0 -2px 2px  rgba(0, 0.25, 0, 0.25);
}


.shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

