  <nav class="navbar navbar-expand-sm  navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand brand-size" [routerLink]="['/']"><strong>Br<span class="blueIt">it</span>eSito</strong></a>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Lista
              rozmów <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/basic-interview-create" routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">Nowa rozmowa</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link active" >rozmawiasz z {{currentName}}<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
  <br>
  <div  class="container content-padding">
    <router-outlet></router-outlet>
  </div>





